/* styles/Reviews.module.css */
.container {
    min-height: 100vh;
    padding: 2rem;
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    color: #e0e0e0;

  }
  .title {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
  }
  .signedInStatus p {
    display: flex;
    align-items: center;
    gap: 1rem; /* Adjust this value to control spacing between elements */
    margin: 0;
  }
  
  .signIn {
    background-color: transparent;
    color: #e0e0e0;
    border: 1px solid #333;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    white-space: nowrap; /* Prevent text from breaking */
  }
  
  .signIn:hover {
    background-color: #333;
  }

  @media (max-width: 600px) {
    .signIn {
      padding: 0.25rem 0.5rem; /* Reduce padding for smaller screens */
      font-size: 0.875rem; /* Adjust font size for smaller screens */
    }
  }
  
  .form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .input {
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: #e0e0e0;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', monospace;
  }
  
  input.input {
    height: 40px;
  }
  
  textarea.input {
    resize: vertical;
    min-height: 100px;
  }
  
  .button {
    background-color: #333;
    color: #e0e0e0;
    border: none;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background-color: #444;
  }
  
  .reviewsList {
    margin-top: 2rem;
  }
  
  .review {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', monospace;
  }
  
  .reviewPlace {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .signedInText {
    display: flex;
    flex-direction: column;
    text-align: right;
    max-width: 200px; /* Set a maximum width */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Ensure the text stays on one line */
  }
  
  @media (max-width: 600px) {
    .signedInText {
      max-width: 150px; /* Adjust max width for smaller screens */
    }
  }