.reviewsList {
    margin-top: 2rem;
  }
.button {
    border: 1px solid #333;
    border-radius: 50%;
    padding: 1rem 1.3rem;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease; 
    color: #e0e0e0;
    text-decoration: none;
}